
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body, html {
      height: 100%;
      font-family: sans-serif;
    }

    .header {
      background-color: #b9ebec;
      padding: 15px 20px;
      display: flex;
      align-items: center;
    }

    .logo img {
      height: 40px; /* altura da imagem da logo */
    }

    .container {
      display: flex;
      height: calc(100vh - 70px); /* altura total menos o header */
    }

    .sidebar {
      background-color: rgb(218, 71, 231);
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      color: white;
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
    }

    .menu a {
      color: rgb(236, 103, 236);
      text-decoration: none;
      font-weight: bold;
      padding: 10px;
      border-radius: 5px;
      transition: 0.3s;
    }

    .menu a:hover {
      background-color: rgba(238, 176, 233, 0.856);
    }

    .main {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .sub-header {
      background-color: rgb(133, 120, 128);
      padding: 20px;
      color: white;
    }

    .content {
      background-color: #e6ccfd;
      flex: 1;
      padding: 20px;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .car-img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    .car-description {
      font-size: 18px;
    }
